<!--added from original-->

<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1.0 width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

<head>
    <title>CU Map</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="home-header">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/cumap_logo.png" class="col-6" width="50" height="50">
            </div>
            <div class="pull-right">
                <form class="form-inline active-pink-4 col-6 text-lg-right">
                    <input id="search-box" class="form-control form-control-sm mr-3 w-75" type="text"
                        placeholder="Search" aria-label="Search">
                    <button type="search-go-btn" onclick="seachPlace()" id="gobtn">GO</button>
                    <!-- <i class="fa fa-search" aria-hidden="true" onclick="seachPlace()" id="gobtn"></i> -->
                </form>
            </div>
        </div>

        <!-- <div class="active-pink-4 mb-4">
            <input id="search-box" class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button type="search-go-btn" onclick="seachPlace()" id="gobtn">GO</button>
        </div> -->
        <!-- <button class="btn1" onclick="openFloorPlan()" id="floorPlanbtn">FLOOR PLAN</button> -->

    </div>

    <div class="container">
        <div class="tab">
            <h3>SEARCH BY</h3>
            <button class="btn btn-danger" onclick="searchType(1)" id="crs">Course ID</button>
            <button class="btn btn-danger" onclick="searchType(2)" id="dest">Building Name</button>

        </div>
        
        <p>LANDMARK</p>
        <form>
            <input type="checkbox">ATM
            <input type="checkbox">Canteen
            <input type="checkbox">Museum
            <input type="checkbox">Coffee Shop
            <input type="checkbox">Copy&Print
            <input type="checkbox">Vending Machine
            <input type="checkbox" id="libr" onclick="funcLib()">Library
            <br>
            <br>
        </form>
        <!--<div id="IoT">
          <iframe width="250" height="150" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/724962/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=pm2.5+%28ug%2Fm3%29&type=line"></iframe>
        </div>
        -->
        
        <div id="gauge_div">
        </div>
        <div class="main">
            <div class="badge">
                Clockly
            </div>
            <div class="clock">
                <span id ="hour">:</span>
                <span id ="minute">:</span>
                <span id ="second"></span>
            </div>
            
            
        </div>
        <div class="Date-main">
                <div class="TitleOfDate">Date</div>
                <div class="Date">
                    <span id="Day"> </span>
                    <span id="DateNumber"> </span>
                    <span id="Month"></span>
                    <span id="Year"> </span>

                </div>

        </div>

    </div>
     <div id="map">
    </div>
    <div id="flPlan">
        <center>
            <p>FLOOR PLAN</p>
        </center>
        <div id="flMap">
            <div class="buildDropdown">
                <button onclick="selBuild()" class="dropbtn">Select
                    Building&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspv</button>
                <div id="myDropdown" class="buildDropdown-content">
                    <a href="#b1">Engineering Building 1</a>
                    <a href="#b2">Engineering Building 2</a>
                    <a href="#b3">Engineering Building 3</a>
                </div>
            </div>
        </div>
    </div>
    
     
         

   <!-- <script>
        initMap();
        //var input = new google.map.places.SearchBox(document.getElementById("search-box"));
    </script>
    -->


<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src="/js/index.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmlLnG94325_e04Kt4pGJXtNg03sM9Ijc&libraries=places&callback=initMap"
        async ></script>
    <script src="/js/IoTApp.js"></script>
    <script src="/js/clocklyandDate.js"></script>
    
    
</body>

</html>