@import url('https://fonts.googleapis.com/css?family=Orbitron');
/* #map {
  height: 500px;
  width: 100%;
} */
body{
  background-color: #EFEAEF;
}

.search-box{
  border-radius: 40px;
  border: none;
  margin-left: 10px;
  position: static;
} 


@media screen and (min-width: 851px) {
  .col-1 { 
      display: contents;
      padding: 2vw;
  }
}
@media screen and (max-width: 850px) and (min-width: 550px) {
  .col-1 { 
    display: inline;
    padding: 2vw;
  }
}

@media screen and (min-width: 851px) {
  .search-box{
    height: 30px;
    width: 30vw;
  } 

  #map {
    height: 500px;
    position: static;
    width: 100%;
  }
}
@media only screen and (max-width: 850px) and (min-width: 750px){
  .search-box{
    height: 27px;
    width: 45vw;
    font-size: 14px;
  } 
  #map {
    height: 500px;
    position: static;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) and (min-width: 650px){
  .search-box{
    height: 27px;
    width: 50vw;
    font-size: 14px;
  } 
  #map {
    height: 500px;
    position: static;
    width: 100%;
  }
}
@media only screen and (max-width: 650px) and (min-width: 550px){
  .search-box{
    height: 26px;
    width: 50vw;
    font-size: 14px;
  } 
  #map {
    height: 500px;
    position: static;
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  /* .col-1 { 
      display: block;
      width: 100%;
      padding: 1vw;
  } */
  .col-1 { 
    display: inline;
    padding: 2vw;
  }
  .search-box{
    height: 2em;
    width: 60vw;
    /* min-width: 40px; */
    font-size: 12px;
  } 
  #map {
    height: 500px;
    position: static;
    width: 100%;
  }
}

.tab{
    overflow: hidden;
}

.tab button:hover {
    background-color: rgb(212, 161, 212);
  }
  .tab p{
      display: inline;
  }
  .search-area{
      background-color: rgb(219, 218, 218);
  }
  .btn-go{
      background-color: rgb(253, 214, 107);
      border-radius: 40px;
      border: none;
      position: static;
      margin-bottom: 20px;
  }
  .home-header{
    background-color:  #da81b7;
    height: 100;
      
  }
  .section-head{
    display: none;
    background-color: rgb(238, 147, 200); 
  }
  /*#land-mark{
    background-color: rgb(238, 147, 200); 
  }*/
  #flMap{
    background-color: rgb(219, 218, 218);
    height: 1000px;
  }
  .btn1{
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
     background-color: rgb(182, 182, 182);
    -webkit-text-fill-color: rgb(209, 37, 209);
  }

  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
  }
body{
  font-family: "Lato", 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-weight: 400;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  display: block;
  box-sizing:border-box;
}
.main-header a{
  text-decoration: none;
}
.skin-pink .main-header .logo {
    background-color: #b73384;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.main-header .logo {
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}
.skin-pink .main-header .navbar {
    background-color: #da81b7;
}
.main-header>.navbar {
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}
.skin-pink .wrapper, .skin-pink .main-sidebar, .skin-pink .left-side {
    background-color: #222d32;
}
.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
}
.sidebar {
    padding-bottom: 10px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skin-pink .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding:0;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
}
.skin-pink .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #da81b7;
    text-decoration: none;
}
.skin-pink .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.sidebar-menu li>a {
    position: relative;
}
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}
.skin-pink .sidebar a {
    color: #b8c7ce;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.server-tag{
  margin-left:22px;
  font-size:13px;
  font-weight:200;
  opacity:.55;
}
.skin-pink .content-header {
    background: transparent;
}
.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box.box-primary {
    border-top-color: #da81b7;
    padding-top: 15px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.lib-name{
  width:20%;
}
.lib-tag{
  
}
.lib-add{
  width:15%;
}