[id^="crsdiv"]{
    background-color: rgba(147, 184, 214, 0.541);
}

[id^="crsdiv"] p{
    margin-left: 2em;
}
[id^="crsdiv"] button{
    margin-left: 2em;
    padding: 4px 1em 4px 1em;
    background-color: rgb(253, 214, 107);
    border-radius: 20px;
    border: none;
    position: static;
    margin-bottom: 15px;
    font-weight:600;
    border: 2px solid rgb(248, 162, 49);
    color: rgb(85, 57, 21);
} 