body{
    background-color: #EFEAEF;
    font-family: 'Lato', sans-serif;
}

.method-select{
  background-color: rgba(233, 200, 221, 0.274);
  display:none;
}

.s-lo-des{
  padding: 1.9px;
}

.s-desc{
  background-color: rgba(229, 187, 219, 0.658);
  border-radius: 8px;
  padding: 7px 15px 7px 15px;
  margin-left: 20px;
  font-size: 15px;
}
.s-desc1{
  background-color: #D0DBDF;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  text-align: left;
}
.s-desc2{
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 15px 0px 15px;
  text-align: left;
}


.s-transport{
  background-color: rgba(233, 200, 221, 0.623);
  position: static;
}

.s-transport span{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-left: 15px;
}

/* responsive */
@media screen and (max-width: 700px) {
  /* header-desc */
  .s-desc{
    max-width: 40%;
    font-size: 0.9em;;
  }
  /* current-desc */
  .s-desc1{
    /* max-width: 40%; */
    width: 40%;
    padding: 4px 13px 4px 13px;
    font-size: 0.9em;
    text-align: left;
  }
  /* locatation-detail */
  .s-desc2{
    padding: 10px 0px 0px 15px;
  }

  /* header-transport */
  .s-transport{
    height: 5vw;
    font-size: 2.7vw;
    text-align: left;
  }
  /* pic */
  .t-pic-w, .t-pic-bp{
    width: 35px;
    /* height: 35px; */
    height: 45px;
    padding-top: 10px
  }
  .t-pic-b, .t-pic-h{
    width: 38px;
    /* height: 38px; */
    height: 48px;
    padding-top: 10px
  }
  .t-pic-m{
    width: 47px;
    /* height: 47px; */
    height: 57px;
    padding-top: 10px
  }

  /* button */
  .s-button{
    width: 155px;
    height: 30px;
    font-size: 13px;
  }
  .spin.processing {
    width: 30px;
  }

}

@media screen and (min-width: 701px) {
  /* header-desc */
  .s-desc{
    max-width: 300px;
  }
  /* current-desc */
  .s-desc1{
    max-width: 300px;
  }
  /* locatation-detail */
  .s-desc2{
    padding: 12px 0px 7px 15px;
  }

  /* header-2 */
  .s-transport{
    height: 30px;
    font-size: 18px;
  }
  /* pic */
  .t-pic-w, .t-pic-bp{
    width: 45px;
    height: 45px;
  }
  .t-pic-b, .t-pic-h{
    width: 48px;
    height: 48px;
  }
  .t-pic-m{
    width: 55px;
    height: 55px;
  }

  /* button */ 
  .s-button{
    width: 250px;
    height: 35px;
    font-size: 17px;
  }
  .spin.processing {
    width: 35px;
  }
}

@media screen and (min-width: 551px) {
  .col { 
      display: contents;
      /* width: 100%; */
      padding: 2vw;
  }
  wrap .holder.col-4 {
    width: 32.6666666667%;
  }
}
@media only screen and (max-width: 550px) {
  .col { 
      display: block;
      width: 100%;
      padding: 2vw;
  }
  
  wrap .holder {
    float: none;
  }
  .wrap .holder.col-4 {
    display: block;
    width: 100%;
  }
}

/* transport */
.transport-selector {
  position: absolute;
  top: 1%;
  left: 0;
  width: 30%;
  margin-top: 40px;
  height: 50;
  z-index: 1;
  opacity: 0;
}
label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 10px 0px 0px;
}

/* shortest route button */
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(720deg);
  }
}
.s-button {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 10px 0 0;
  padding: 0;
  /* width: 200px;
  height: 50px; */
  border-radius: 20px;
  background-color: #F8D0F4;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
}
.spin {
  border: 4px solid rgb(243, 183, 237);
  color: #F044AB;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  transition: all 200ms ease-in-out;
}
.spin span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease-in-out;
}
.spin span:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.spin svg {
  height: 30px;
  fill: #F044AB;
}
.spin:hover {
  background-color: rgb(255, 185, 249);
  color: #fff;
}
.spin.done, .spin.processing {
  pointer-events: none;
  cursor: default;
}
.spin.processing {
  border-width: 4px;
  border-right-color: #bbb;
  border-bottom-color: #bbb;
  animation: spin;
  animation-delay: 200ms;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.spin.processing:hover {
  background-color: transparent;
}
.spin.processing span:first-child {
  opacity: 0;
}
.spin.done:hover {
  background-color: transparent;
}
.spin.done span:first-child {
  opacity: 0;
}
.spin.done span:last-child {
  opacity: 1;
}


/* transport icon */

ul {
  list-style-type: none;
}

.tp li {
  display: inline-block;
}

input[type="checkbox"][id="walk1"] {
  display: none;
}
input[type="checkbox"][id="bike1"] {
  display: none;
}
input[type="checkbox"][id="bus1"] {
  display: none;
}
input[type="checkbox"][id="hamo1"] {
  display: none;
}
input[type="checkbox"][id="muvmi1"] {
  display: none;
}


.tp label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.tp label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.tp label img {
  /* height: 30px;
  width: 30px; */
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

input#walk1:checked + label img {
  content:url('../img-transport/walk-2.png');
  transform: scale(0.9);
  z-index: -1;
}
input#bike1:checked + label img {
  content:url('../img-transport/bike-2.png');
  transform: scale(0.9);
  z-index: -1;
}
input#bus1:checked + label img {
  content:url('../img-transport/bus-2.png');
  transform: scale(0.9);
  z-index: -1;
}
input#hamo1:checked + label img {
  content:url('../img-transport/hamo-2.png');
  transform: scale(0.9);
  z-index: -1;
}
input#muvmi1:checked + label img {
  content:url('../img-transport/muvmi-2.png');
  transform: scale(0.9);
  z-index: -1;
}